@font-face {
  font-family: utendo-regular;
  src: url('utendo/Utendo-Regular.ttf');
}

@font-face {
  font-family: utendo-extra-bold;
  src: url('utendo/Utendo-ExtraBold.ttf');
}

header{
    background-color: #127BF3;
}

header img{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 7vh;
    margin-left: 4.5vw;
}

.banner{
    margin: 50px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

/*deixar imagem dos véio alinhada com a div (ela tá flutuando)*/
.banner #idosos-banner{
    height: 50vh;
    width: auto;
}

.banner img{
    height: 40vh;
    width: auto;
}

.botao-banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #127BF3;
    border-radius: 20px;
    font-family: utendo-extra-bold;

    height: 10vh;
    margin-bottom: 15%;
    margin-top: 10%;
}

.botao-banner img{
    height: 17px;
    padding-right: 10px;
}

.botao-banner button{
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: white;
    letter-spacing: 1px;
    background-color: tomato;
}