@font-face {
  font-family: utendo-regular;
  src: url('utendo/Utendo-Regular.ttf');
}

@font-face {
  font-family: utendo-extra-bold;
  src: url('utendo/Utendo-ExtraBold.ttf');
}

@font-face {
    font-family: utendo-bold;
    src: url('utendo/Utendo-Bold.ttf');
}

a:hover{
    cursor: pointer;
}

header{
    background-color: #127BF3;
}

header img{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 7vh;
    margin-left: 4.5vw;
}

.banner{
    margin: 50px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

/*deixar imagem dos véio alinhada com a div (ela tá flutuando)*/
.banner #idosos-banner{
    height: 50vh;
    width: auto;
}

.banner img{
    height: 40vh;
    width: auto;
}

.botao-banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #127BF3;
    border-radius: 20px;
    font-family: utendo-extra-bold;

    height: 10vh;
    margin-bottom: 15%;
    margin-top: 10%;
}

.botao-banner button{
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: white;
    letter-spacing: 1px;
}

.botao-banner img{
    height: 17px;
    padding-right: 10px;
}

/*Parte principal do site - azul*/

.blue-bkg{
    background-color: #127BF3;
    border-radius: 50px;
    padding-top: 4vh;
    padding-bottom: 1000px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-card{
    background-color: white;
    margin: 5vw;
    padding: 5%;
    border-radius: 50px;
    font-family: utendo-extra-bold;
    width: 75vw;
}

.info-card h1{
    color: #127BF3;
    letter-spacing: 2px;
    font-size: 35px;
    padding-bottom: 20px;
}

.info-card p{
    color: black;
    letter-spacing: 0.5px;
    font-size: 18px;
}

.info-card.left{
    align-self: flex-start;
}

.info-card.right{
    align-self: flex-end;
}

.aplicativo-info h1{
    padding: 40px 0;
}

.section-title{
    font-family: utendo-bold;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

.app-section{
    display: flex;
    margin: 40px;
}

.app-section img{
    height: 90vh;
    width: auto;
}

.app-text{
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.informational-text{
    font-family: utendo-bold;
    color: white;
    font-size: 25px;
    padding-bottom: 40px;
    letter-spacing: 0.5px;
}


/* Cadastro */

.cadastro{
    margin: 80px;
}

.cadastro img{
    display: flex;

}

.telas-cadastro{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.telas-cadastro img{
    width: 40vw;
    height: auto;
}

.cadastro p{
    display: flex;
    justify-content: center;
    text-align: center;
}
